<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leiaute Simples</title>
        <link rel="stylesheet" href="style.css"> 
    </head>

    <body>
        <header>
            <h1>Cabeçalho </h1>
        </header>

        <div class="container">
            <aside class="sidebar">
                <h2>Coluna da Esquerda</h2>
                <p>Conteúdo da coluna da esquerda.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ad quis assumenda laudantium, atque numquam quam a. At, necessitatibus. Fugiat quidem nulla dolorum porro sapiente qui voluptatibus eligendi rem possimus?
                Dolores facilis molestiae, beatae minima, veniam iure asperiores ipsum quae rerum dicta placeat! Voluptatem, mollitia nesciunt esse corporis molestias veniam fugit culpa blanditiis obcaecati sunt, id veritatis harum reprehenderit beatae.
                Quo asperiores nam aperiam assumenda est consectetur fuga ab expedita repellendus, recusandae eveniet incidunt deleniti tempora illum natus sequi nesciunt dicta quidem explicabo tempore. Temporibus dolore maiores consequatur officia porro!
                Voluptatibus, natus molestias tempore laboriosam officiis impedit quos, esse nisi reiciendis facere, doloremque nesciunt. Porro quasi odit omnis enim quod quidem a? Similique minus odio excepturi nemo dolore, quibusdam dolorum.
                Ut excepturi quas ipsa ipsam, incidunt libero quam esse a sequi. Repellendus recusandae consectetur laborum eveniet corporis deserunt quod, laudantium, aperiam eligendi ratione, repudiandae expedita. Assumenda labore dolorum inventore quas?</p>
            </aside>

            <main class="main-content">
                <h2>Conteúdo Central<h2>
                <p>Este é o conteúdo principal da página.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, laborum incidunt? Laboriosam aspernatur aut beatae vitae explicabo magnam cupiditate et pariatur fuga debitis. Deleniti, dolor omnis voluptate culpa saepe facilis!
                Cumque nam quia fugit ipsum reprehenderit maxime saepe repellendus, eveniet veniam, molestias quae quisquam magni exercitationem officia voluptate accusantium ut laboriosam illo corporis expedita beatae! Aperiam, dolores? Voluptatem, quaerat perspiciatis.
                Placeat perferendis nobis corporis sint impedit autem. Placeat laudantium harum deserunt voluptas ipsa a, ullam similique magnam ea veritatis vel earum quisquam voluptatibus impedit explicabo corrupti? Optio dolor veritatis atque.
                Quasi est eius saepe voluptatum sint vero ipsam voluptas in enim ipsum officia blanditiis repudiandae soluta, corrupti architecto tempore? Expedita repudiandae non error debitis, asperiores mollitia facere suscipit magni libero.
                Omnis illum sit aliquid quia ipsa, fugit sed alias blanditiis necessitatibus accusantium dolorum quisquam adipisci harum ipsam exercitationem delectus eveniet! Animi temporibus explicabo fugit illo quia earum tempora ullam nobis!
                Esse exercitationem iusto corrupti quod, maxime temporibus ducimus rem atque cumque quia eum autem incidunt eveniet a perspiciatis nisi doloribus eius at est necessitatibus vitae. Excepturi sint dolorem quod omnis.
                Hic eos ducimus dolores exercitationem quam dolor id similique est? Quibusdam, velit. Ut, reiciendis aliquam. Voluptate nemo corporis debitis voluptas totam fuga? Officiis quos eveniet enim, ut natus in molestiae.
                Ipsum, numquam quisquam quos ducimus similique tenetur et voluptates fugiat eveniet nulla, illo voluptate ipsa cumque ratione nesciunt minus quis explicabo veritatis hic corporis quas obcaecati! Doloribus corrupti itaque voluptatem.
                A officia commodi consectetur et nobis quis dolore itaque, eligendi veritatis delectus inventore non quidem velit doloremque illum, error similique dolor nulla neque sint magni iusto? Nulla qui nihil asperiores?
                Necessitatibus neque praesentium molestiae excepturi hic. Similique eum asperiores error dolore facilis, architecto expedita, veniam ipsam, repellat ratione rem! Sequi placeat sint ipsa, amet tenetur est non tempora eos neque.</p>
            </main>
        </div>

        <footer>
            <p>Rodapé</p>
        </footer>
    </body>
</html>
