body{
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.sidebar {
    position: relative;
    transition: transform 0.3s ease-in-out;
    padding-left: 5px;
    min-height: 100vh;
    will-change: transform;
}

.sidebar logo {
    display: flex;
    align-items: center;
}

.sidebar img {
    height: 100%;
    width: 80px;
    margin-left: -10px;
}

.sidebar .name-logo {
    color: white;
    font-size: 40px;
    margin-left: -11px !important;
    margin-top: 24px !important;
}

.sidebar h2 {
    margin-top: 20px;
}

.sidebar ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.2s ease;
}

.sidebar ul li a:hover {
    color: #23527c;
}

.navbar {
    background-color: black;
    color: white;
    font-size: 20px;
}


#myChart {
    height: 450px !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    margin-top: -100px;
}

/* Card Tarefa */
.card-tarefa {
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

}

.card-tarefa:hover {
    transform: translateY(-5px);
}


.col-md-4 h3 {
    font-weight: 700;
    color: #007bff;
    margin-bottom: 0;
}

/* Descrição da Tarefa */
.col-md-4 p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    color: #6c757d;
}



/* Card azul */
.card-blue {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -115px;
    padding: 15px;
    height: 100px;
    width: 780px;
    margin-left: 25px;
}


.card-blue .card-block {
    padding: 10px 20px;
}

.card-blue .row {
    margin-bottom: 0;
}

.card-blue .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-blue h5 {
    font-size: 18px;
    margin-bottom: 0;
}

.card-blue h6 {
    font-size: 20px;
    margin-bottom: 3px;
}

.card-blue p {
    font-size: 17px;
    margin-bottom: 3px;
}



/*Cadastro de Produtos*/

body {
    background-color: #f4f7fc;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-header {
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.form-label {
    font-weight: bold;
}

input[type="text"], input[type="number"], textarea {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="number"]:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}



/* Login */

/* Tela de fundo */
.login-screen {
    background-image: url('fundo-de-tela-dark.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Arial, sans-serif;
    padding-top: 53px;
}


.container-login {
    background-color: black;
    color: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 320px;
    height: 430px;
    transition: transform 0.3s ease;
}

.container-login:hover {
    transform: scale(1.03);
}

.area-input {
    margin: 12px 0;
    text-align: left;
}

.area-input label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.area-input input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #222;
    color: white;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

button {
    background: #007bff;
    color: white;
    padding: 12px;
    margin-top: 60px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
    transform: scale(1.05);
}

#mensagem {
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}


/* Sidebar Responsiva */
@media (max-width: 995px) {
    .sidebar {
        position: fixed;
        transform: translateX(-100%);
        z-index: 1;
    }

    .sidebar.show {
        transform: translateX(0);
    }
}
